"{{item.value.app_name}}": {
    "class": "Application",
    "template": "http",
    "serviceMain": {
        "class": "Service_HTTP",
        "virtualAddresses": [
            "{{item.value.app_locations.vip_address}}"
        ],
        "pool": "{{item.value.app_name}}_pool"
    },
    "{{item.value.app_name}}_pool": {
        "class": "Pool",
        "monitors": [
            "http"
        ],
        "members": [
            {
                "servicePort": {{item.value.server_port}},
                "serverAddresses": [
                    "{{ item.value.app_locations.pool_members| join('", "') }}"
                ]
            }
        ]
    }
}