"{{tem.value.app_name}}": {
	"class": "Application",
	"template": "tcp",
	"serviceMain": {
		"class": "Service_TCP",
		"virtualAddresses": [
			"{{item.value.app_locations.vip_address}}"
		],
		"virtualPort": {{item.value.app_port}},
		"pool": "{{item.value.app_name}}_pool"
	},
	"{{item.value.app_name}}_pool": {
		"class": "Pool",
        "monitors": [
            "tcp"
        ],
		"members": [
            {
                "servicePort": {{item.value.server_port}},
                "serverAddresses": [
                    "{{ item.value.app_locations.pool_members| join('", "') }}"
                ]
            }
        ]
	}
}