service password-encryption
!
log file /var/log/zebos.log
!
bgp extended-asn-cap
!
router bgp {{ device_vars.commonEnvValues.bgp.bgpTemplate.bgp_asn }}
 bgp router-id {{ device_vars.commonEnvValues.bgp.bgpTemplate.router_id }}
 bgp graceful-restart restart-time 120
 redistribute kernel route-map RM_RHI_PREFIX_LIST
 timers bgp 5 15
 neighbor PG_Fabric_IN peer-group
 neighbor PG_Fabric_IN remote-as {{ device_vars.commonEnvValues.bgp.bgpTemplate.ASN_IN }}
 neighbor PG_Fabric_IN soft-reconfiguration inbound
 neighbor PG_Fabric_IN route-map RM_F5-to-INSIDE out
 neighbor PG_Fabric_OUT peer-group
 neighbor PG_Fabric_OUT remote-as {{ device_vars.commonEnvValues.bgp.bgpTemplate.ASN_OUT }}
 neighbor PG_Fabric_OUT soft-reconfiguration inbound
 neighbor PG_Fabric_OUT route-map RM_F5-to-OUTSIDE out
 neighbor {{ device_vars.commonEnvValues.bgp.bgpTemplate.leaf_outside }} peer-group PG_Fabric_OUT
 neighbor {{ device_vars.commonEnvValues.bgp.bgpTemplate.leaf_outside }} description outside_peering
 neighbor {{ device_vars.commonEnvValues.bgp.bgpTemplate.leaf_outside }} password 1  {{ device_vars.commonEnvValues.bgp.bgpTemplate.PASSWORD_OUT }}
 neighbor {{ device_vars.commonEnvValues.bgp.bgpTemplate.leaf_inside }} peer-group PG_Fabric_IN
 neighbor {{ device_vars.commonEnvValues.bgp.bgpTemplate.leaf_inside }} description inside_peering
 neighbor {{ device_vars.commonEnvValues.bgp.bgpTemplate.leaf_inside }} password 1  {{ device_vars.commonEnvValues.bgp.bgpTemplate.PASSWORD_IN }}

!
ip as-path access-list AL_F5-to-INSIDE permit ^{{ device_vars.commonEnvValues.bgp.bgpTemplate.ASN_OUT }} *
ip as-path access-list AL_F5-to-OUTSIDE permit ^$
ip as-path access-list AL_F5-to-OUTSIDE permit ^{{ device_vars.commonEnvValues.bgp.bgpTemplate.ASN_IN }}$
!
ip prefix-list PL_RHI_VIP_NETWORKS seq 10 permit {{ device_vars.commonEnvValues.bgp.bgpTemplate.VIP_networks }} ge 32
!
route-map RM_F5-to-OUTSIDE permit 10
 match as-path AL_F5-to-OUTSIDE
!
route-map RM_F5-to-INSIDE permit 10
 match as-path AL_F5-to-INSIDE
!
route-map RM_RHI_PREFIX_LIST permit 50
 match ip address prefix-list PL_RHI_VIP_NETWORKS
!
